.underwindow{
    position: fixed;
    background-color: grey;
    width: 300px;
    border-radius: 3px;
    
    

}

.mainwindow
{
    
    padding: 5px;
    z-index: 100;
    border: 5px solid black;
    background-color: white;

}

.mheader
{
text-align: left;
margin-left: 5%;
margin-top: 0em;
}
.bclose{
    margin-left: 70%;
    cursor: pointer;
}