.menu{}


.menuelement{
    width: 400px;
    min-height: 100;
    border: 1px solid #741414;
    float: left;
font-size: 28px;
text-align: center;
}
.clear { clear: both }

.submenu
{display: none ;
width: 600;
list-style-type:none;
}

.menuelement:hover .submenu
{
    display: inline ;
}

.ordercard{
    min-width: 500px;
    min-height: 400px;
    display:none;
    position: fixed;
z-index: 100;
    top: 40%;
    left: 40%; 
}

.ordercard:target 
{
    display:block;
    background-color: aqua;
}
.element:hover
{
    background-color: darkorchid;
}

